In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("cats.csv")

In [7]:
df

   Unnamed: 0  Шерстист  Гавкает  Лазает по деревьям      Вид
0           0         1        1                   0  собачка
1           1         1        1                   0  собачка
2           2         1        1                   0  собачка
3           3         1        1                   0  собачка
4           4         1        0                   1    котик
5           5         1        0                   1    котик
6           6         1        0                   1    котик
7           7         1        0                   1    котик
8           8         1        1                   1    котик
9           9         0        0                   1    котик

Алгоритм действия следующий: берем столбец с признаком. В нем значения 0 или 1. Выбираем 0: смотрим вероятность для собаки и кошки-> даем ответ. Вероятность рассчитывается как (количество собак )/(количество ноликов) или (всего - количество собак )/(количество ноликов)

In [20]:
e_sh_0 = -(1./1.*np.log2(1.))
e_sh_0

-0.0

In [21]:
e_sh_1 = -((4./9.)*np.log2((4./9.))+(5./9.)*np.log2((5./9.)))
e_sh_1

0.9910760598382222

In [25]:
e_gav_0 = -((5./5.)*np.log2((5./5.)))
e_gav_0

-0.0

In [26]:
e_gav_1 = -((4./5.)*np.log2((4./5.))+(1./5.)*np.log2((1./5.)))
e_gav_1

0.7219280948873623

In [27]:
e_laz_0 = -((4./4.)*np.log2((4./4.)))
e_laz_0

-0.0

In [28]:
e_laz_1 = -((6./6.)*np.log2((6./6.)))
e_laz_1

-0.0

In [32]:
e_y = -(0.4*np.log2(0.4)+0.6*np.log2(0.6))
e_y

0.9709505944546686

In [33]:
#sherstist
0.97-0.9*0.99

0.07899999999999996

In [34]:
#gavkaet
0.97-0.5*0.72

0.61

In [35]:
#lazaet
0.97

0.97

Алгоритм следующий:считаем $$E(Y) = -(\frac{кол-во собак}{всего}*log(\frac{кол-во собак}{всего} +\frac{кол-во кошек}{всего}*log(\frac{кол-во кошек}{всего})$$
А потом $$E(Y|X) = \frac{кол_во нулей}{кол-во записей}*E_0+\frac{кол_во единиц}{кол-во записей}*E_1$$
$$IG = E(Y) - E(Y|X)$$