In [25]:
import pandas as pd
import numpy as np
my_data = pd.DataFrame.from_dict({"type":['A', 'A', 'B', 'B'], "value":[10,14,12,23]})

In [3]:
my_stat = pd.read_csv("my_stat.csv")

In [18]:
inds_list = list(range(my_stat.shape[0]))
inds_list.remove(0)
inds_list.remove(4)
subset_1 = my_stat.iloc[:10, [0,2]]
subset_2 = my_stat.iloc[inds_list, [1,3]]

In [21]:
subset_1 = my_stat[(my_stat["V1"]>0)&(my_stat["V3"]=='A')]
subset_2 = my_stat[(my_stat["V2"]!=10)|(my_stat["V4"]>=1)]

In [22]:
my_stat["V5"] = my_stat['V1'] + my_stat['V4']
my_stat["V6"] = np.log(my_stat["V2"])

In [28]:
my_stat = my_stat.rename(columns = {"V1":"session_value", "V2" : "group", "V3":"time", "V4": "n_users"})

In [52]:
df_stats = pd.read_csv("my_stat_1.csv")
my_stat["session_value"] = my_stat["session_value"].fillna(0)
median = my_stat[ (my_stat["n_users"]>=0) & (my_stat['n_users'] != -0.0)]["n_users"].median()
my_stat.loc[my_stat['n_users']< 0.0, 'n_users'] = median
my_stat["n_users"] = my_stat["n_users"].fillna(median)

In [60]:
mean_session_value_data = my_stat.groupby("group", as_index = False).agg({'session_value': 'mean'})
mean_session_value_data = mean_session_value_data.rename(columns = {"session_value":"mean_session_value"})

In [61]:
df_event = pd.read_csv("event_data_train.csv")
df_submission = pd.read_csv("submissions_data_train.csv")

In [64]:
df_event["action"].unique()

array(['viewed', 'passed', 'discovered', 'started_attempt'], dtype=object)

In [67]:
df_submission["submission_status"].unique()

array(['correct', 'wrong'], dtype=object)

In [78]:
df_submission["submission_status"] = df_submission[df_submission["submission_status"]=="correct"]

In [80]:
df_submission.groupby("user_id").agg({"submission_status":"count"}).sort_values("submission_status")

         submission_status
user_id
22862                    0
12222                    0
871                      0
22080                    0
25472                    0
25464                    0
2731                     0
8219                     0
9422                     0
4854                     0
20129                    0
13408                    0
25383                    0
1424                     0
21999                    0
12303                    0
20196                    0
23879                    0
16865                    0
5234                     0
23796                    0
19914                    0
404                      0
2717                     0
2658                     0
5608                     0
6859                     0
9075                     0
3601                     0
2683                     0
...                    ...
2700                    93
19034                   93
4578                    94
1468                    96
6264                    97
22833                   97
20225                   98
14454                   98
26225                   98
25179                   99
11329                   99
19691                  100
20531                  101
9873                   102
15274                  102
19755                  107
16271                  107
26417                  111
3572                   113
12470                  115
22713                  117
30                     119
24022                  121
14699                  121
1218                   130
8461                   135
6183                   142
17135                  168
5552                   186
1046                   421

[9940 rows x 1 columns]